# ラベルエンコードの動作について確認する。

A = ['A', 'B', 'C', 'D', 'E', 'F', 'G'] と B = ['B', 'C', 'D', 'F', 'E', 'A', 'G']は同じ数値でエンコードされるかどうかについて確認

## 必要なライブラリのインポート

In [1]:
import pandas as pd
import numpy as np
import re

from matplotlib import pyplot as plt
# ジュピターノートブック上でグラフを表示させるための処理
%matplotlib inline

from sklearn.preprocessing import LabelEncoder

In [2]:
a_values = ['A', 'B', 'C', 'D', 'E', 'F', 'G']
b_values = ['B', 'C', 'D', 'F', 'E', 'A', 'G']

In [7]:
a_dict = {"A": a_values}
b_dict = {"B": b_values}

In [8]:
a_dict

{'A': ['A', 'B', 'C', 'D', 'E', 'F', 'G']}

In [9]:
b_dict

{'B': ['B', 'C', 'D', 'F', 'E', 'A', 'G']}

In [10]:
df_a = pd.DataFrame.from_dict(a_dict)
df_b = pd.DataFrame.from_dict(b_dict)

In [11]:
df_a

   A
0  A
1  B
2  C
3  D
4  E
5  F
6  G

In [12]:
df_b

   B
0  B
1  C
2  D
3  F
4  E
5  A
6  G

In [13]:
# ラベルエンコーダのインスタンスを生成
label_encoder = LabelEncoder()

In [14]:
df_a['A_laber_encode'] = label_encoder.fit_transform(df_a['A'])

In [15]:
df_a

   A  A_laber_encode
0  A               0
1  B               1
2  C               2
3  D               3
4  E               4
5  F               5
6  G               6

In [16]:
df_b['B_laber_encode'] = label_encoder.fit_transform(df_b['B'])

In [17]:
df_b

   B  B_laber_encode
0  B               1
1  C               2
2  D               3
3  F               5
4  E               4
5  A               0
6  G               6